.hero-text {
    color: #535353;
}

.nav-link {
    color: #535353;
}

.w-webflow-badge {
    display: none;
}

.menu-button {
    color: #4a32d6;
}

.w-icon-nav-menu {
    color: #4a32d6;
}

.logo .w-nav-brand img {
    width: 172px;
}